<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>


# Stop spam attack logins and comments
#<IfModule mod_rewrite.c>
#	RewriteEngine On
#	RewriteCond %{REQUEST_METHOD} POST
#	RewriteCond %{REQUEST_URI} .(wp-comments-post|wp-login)\.php*
#	RewriteCond %{HTTP_REFERER} !.*triplec.global.* [OR]
#	RewriteCond %{HTTP_USER_AGENT} ^$
#	RewriteRule (.*) http://%{REMOTE_ADDR}/$1 [R=301,L]
#</ifModule>
